* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.html text eol=lf
*.ps1 text

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
